

            .Settings
            {
                flex:1;
                justify-content: center;
                align-self: center;
                background-color: aliceblue;
                border-color: black;
            }
            .Menu
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 5000px;
                height: 7000px;
                margin:auto;
                background-color: azure;
                border-color: black;

            }   
               
               .Calendar
                {
                    
                   flex:1;
                   justify-content: start;
                   align-self: center;
                   background-color: aliceblue;
                   border-color: black;
                

                }
                .TimeTracker
                {
                    
                    flex:1;
                    justify-content: center;
                    align-self: center;
                    background-color: aliceblue;
                    border-color: black;
                   
                }
                .Export
                {
                    
                    flex:1;
                    justify-content: end;
                    align-self: center;
                    background-color: aliceblue;
                   
                }