# Dependencies
node_modules/

# Python
*.pyc
__pycache__/
*.egg-info/
.eggs/
.venv/
venv/
env/

# Testing / coverage
.coverage
.pytest_cache/
htmlcov/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build / dist
dist/
build/
*.log
