.className {
    font-family: "Lucida Console", Courier, monospace;
}

.TTFORMDATA {
    background: linear-gradient(to bottom right,#1a8fff,#0dd4e2);
    font-size: 36px;
    font-weight: 100;
    line-height: 160px;
    border-width: 1px 0;
}

.DropDownBox {
    color: -internal-light-dark-color(black, white);
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}