<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<div>
<h1> Welcome Admin - {{FN}}!</h1>
</div>
<div>
    <form>
    <button> Create User</button>
    <button> Edit User </button>
    <button> TimeSheet </button>
    </form>
</div>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<div>

    <form action="/P/logout/"  method = 'post'>
        {% csrf_token %}
        <button > Logout</button>
    </form>
</div>


</body>
</html>