<h1>Edit User Details</h1>
<div>
    <p>Search for Employee by ID</p>
    <input type="number"></input>
    <button onclick="">Search</button>
</div>
<div>
    <p>Edit fields required, leave others blank</p>
    <p>First Name</p>
    <textarea className="First_name"></textarea><br/>
    <p>Last Name</p>
    <textarea className="Last_name"></textarea><br/>
    <p>Email ID</p>
    <textarea className="Email"></textarea><br/>
    <p>Rank</p>
    <select className="User_type">
        <option key="Admin">Admin</option>
        <option key="MGR">Manager</option>
        <option key="HR">HR</option>
        <option key="Employee">Employee</option>
    </select>
    <button onclick="">Make Changes</button>
</div>